*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 30vh;
  margin: 20px auto;
  border-radius: 15px;
  background-color: rgb(189, 212, 255);
  color: rgb(14, 8, 3);
  font-size: 25px;
}